.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img_container {
  width: 80px;
  height: 40px;
}

.img_container img {
  width: 100%;
}

.nav_link {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.sing_up {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
